h1{
    color:red;
    display: flex;
    justify-content: center;
}
.anchor1{
    display: flex;
    justify-content: center;
}
.zeus_img{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.make_green{
    color: rgb(7, 185, 7);
}

.make_blue{
    color: blue;
}

.everything{
    padding-left: 50px;
    padding-right: 50px;
}
